Search for Courses:
- Keyword Search: Users can search Course Data by keywords and phrases from descriptions and other fields. 
- Filtering Options: Users can filter results based on relevant criteria such as course ratings or duration. 
- Instructor Profile Search: Users can search course instructors' profiles, even if they are not currently in the database.
- Faceted Information: Users can facet information based on source (MS, Udacity, Internal), skills, and role.
- Sorting Functionality: Users can sort results by relevant fields.

Search for Journal Articles:
- Comprehensive Search Criteria: Users can search for journal articles by keywords and phrases, authors, associated institutions, publication name, publisher, and publication date.
- DOI URL Provision: Users can be provided the DOI(Digital Object Identifier) URL for the PDF as part of the search result.

Needed Skills:
Search for Courses:
- Key Phrase Extraction
- Custom Entity Lookup
Search for Journal Articles:
- Key Phrase Extraction
- Custom Skill
